.fieldName {
    -fx-font-weight: bold;
}

.readonlyField {
    -fx-text-fill: gray;
}

.fieldLabel {
    -fx-padding: 5,0,0,5;
}

.error {
    -fx-text-fill: red;
}

.verticalButtonBox {
    -fx-spacing: 5.0;
}

.smallButton {
    -fx-pref-width: 34.0;
}
