.fieldBox {
}

.fieldName {
    -fx-font-weight: bold;
    -fx-text-fill: -color-accent;
}

.readonlyField {
    -fx-text-fill: -color-neutral;
}

.fieldLabel {
    -fx-padding: 5,0,0,5;
}

.valueTextField {}

.error {
    -fx-background-color: salmon;
}

.verticalButtonBox {
    -fx-spacing: 5.0;
}
