/* Database location */
.locationToolbar {
    -fx-base: -color-background-primary;
}

.databaseLocationTextField {
}

.databaseLocationLabel {
    -fx-text-fill: -color-accent;
}

/* Settings */
.settingsToolbar {
    -fx-base: -color-background-secondary;
}

.settingsPane > .title {
    -fx-font-weight: bold;
}

.profileSettingLabel, .localeSettingLabel {
    -fx-text-fill: -color-accent;
}

/* Actions */
#entryNumberComboBox .scroll-bar:vertical {
    -fx-background-color: transparent;
}

/* Search */
.entryFilterTextField {
}

/* Nav */
.navigationToolbar {
    -fx-base: -color-background-secondary;
}

.entryNavComboBox {
    -fx-font-weight: bold;
}

.entryNavComboBox .combo-box-popup .list-view .list-cell {
    -fx-font-weight: normal;
}

.entryNumberTextField {
}
