/* Database location */
.locationToolbar {
    -fx-base: dodgerBlue;
}

/* Settings */
.settingsToolbar {
}
.settingsToolbar .menu-item .label {
    -fx-text-fill: black;
}

#localesChoiceBox .label, #profilesChoiceBox .label {
    -fx-text-fill: black;
}

/* Actions */
#entryNumberComboBox .scroll-bar:vertical {
    -fx-background-color:transparent;
}
#entryNumberComboBox .list-cell {
    -fx-text-fill: white;
}

/* Search */
.entryFilterTextField {
    -fx-text-fill: white;
}

/* Nav */
.navigationToolbar {
    -fx-base: black;
}

.entryNumberTextField {
    -fx-text-fill: white;
}

