/* Database location */
.locationToolbar {
    -fx-base: -color-background-primary;
}
.databaseLocationTextField {
}

/* Settings */
.settingsToolbar {
    -fx-base: -color-background-secondary;
}

/* Actions */
#entryNumberComboBox .scroll-bar:vertical {
    -fx-background-color:transparent;
}

/* Search */
.entryFilterTextField {
}

/* Nav */
.navigationToolbar {
    -fx-base: -color-background-secondary;
}

.entryNumberTextField {
}
