.gradle/
.idea/
build/
classes/
integ-tests/src/test/resources/applied/
integ-tests/src/test/resources/banks/db/out/
integ-tests/src/test/resources/cameras/out/
integ-tests/src/test/resources/db-patched/
integ-tests/src/test/resources/encrypted/
integ-tests/src/test/resources/mapping/
integ-tests/src/test/resources/repacked/
integ-tests/src/test/resources/unpacked/
integ-tests/src/test/resources/unencrypted/
integ-tests/src/test/resources/jsonified/
integ-tests/src/test/resources/patcher/out/
integ-tests/src/test/resources/patcher/effective-mini-template.json.properties
integ-tests/src/test/resources/patcher/tdumt/out*/
cli/perfs/
gui-installer/assets/DATABASE/hidden
lib-unlimited/perfs/
pack/
tmp-jarContents/
releases/
