.settingsToolbar {
    -fx-base: dodgerBlue;
}

.navigationToolbar {
    -fx-base: black;
}

.fieldName {
    -fx-font-weight: bold;
}

.readonlyField {
    -fx-text-fill: gray;
}

.fieldLabel {
    -fx-padding: 5,0,0,5;
}